<main-navigation active-page="'misc'"></main-navigation>
<div class="jumbotron" id="mischero"></div>
<div class="container">
    <div class="row">
      <div class="col-sm">

          <div class="container">
              <div class="row">
                  <a ng-repeat="product in products" ng-href="/{{ product.id }}">
                      <div class="col-sm">
                          <img width="300em" ng-src="{{ product.imageurl }}" class="photo" alt="">
                          <p>{{ product.title }} {{ product.price | currency }}</p>
                      </div>
                  </a>
              </div>
          </div>
        <!-- <div class="thumbnail">
        <a href="/images/covalence-store-misc-14.png" target="_blank">
          <img src="/images/covalence-store-misc-14.png" alt="Mug" style="width:100%">
          <div class="caption">
            <p>Covalence Mug $30</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
        <a href="/images/covalence-store-misc-15.png" target="_blank">
          <img src="/images/covalence-store-misc-15.png" alt="FE_Sticker" style="width:100%">
          <div class="caption">
            <p>Front End Sticker $5</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
        <a href="/images/covalence-store-misc-16.png" target="_blank">
          <img src="/images/covalence-store-misc-16.png" alt="FS_Sticker" style="width:100%">
          <div class="caption">
            <p>Full Stack Sticker $5</p>
          </div>
        </a>
      </div>
    </div>
      <div class="col-sm">
        <div class="thumbnail">
          <a href="/images/covalence-store-misc-17.png" target="_blank">
            <img src="/images/covalence-store-misc-17.png" alt="Water Bottle" style="width:100%">
            <div class="caption">
              <p>Aluminum Water Bottle $35</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div> -->

<footer-nav></footer-nav>