<main-navigation></main-navigation>
</br>

<div class="creditCardContainer">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Credit Card Information</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-holder-name">Name on Credit Card</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Credit Card Holder's Full Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="card-number">Credit Card Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Credit Card Number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="expire-month">Expiration Date</label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-3">
                            <select class="form-control" name="expire-month" id="expire-month">
                                <option value="01">Jan (01)</option>
                                <option value="02">Feb (02)</option>
                                <option value="03">Mar (03)</option>
                                <option value="04">Apr (04)</option>
                                <option value="05">May (05)</option>
                                <option value="06">Jun (06)</option>
                                <option value="07">Jul (07)</option>
                                <option value="08">Aug (08)</option>
                                <option value="09">Sep (09)</option>
                                <option value="10">Oct (10)</option>
                                <option value="11">Nov (11)</option>                                                                
                                <option value="12">Dec (12)</option>                                                                                              
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" name="expire-year">
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                                <option value="24">2024</option>
                                <option value="25">2025</option>
                                <option value="26">2026</option>
                                <option value="27">2027</option>
                                <option value="28">2028</option>
                                <option value="29">2029</option>
                                <option value="30">2030</option>                                
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="cvv">Credit Card CVV</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Sercurity Code">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-success">Sumbit Payment</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="useCreditCards">
    <h3 id="usableCards">We accept these credit cards</h3>
    <div class="imgCreditCard">
        <img src="/images/american-express.png">       
    </div>
    <div class="imgCreditCard">
        <img src="/images/discover.png">
    </div>
    <div class="imgCreditCard">
        <img src="/images/mastercard.png">
    </div>
    <div class="imgCreditCard">
        <img src="/images/visa.png">
    </div>
    <div class="imgCreditCard">
        <img src="/images/paypal.png">
    </div>
</div>

<footer-nav></footer-nav>

<!-- <form ng-submit="process()">
    <input type="number" ng-model="amount">
    <label for="card-field">Credit Card</label>
    <div id="card-field"></div>
    <p>{{error}}</p>
    <input type="submit" value="Submit Payment">
</form> -->